@page "/Auth"

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/NewCss/Style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Reviews</title>
</head>

       <NavBar></NavBar>
     
      <div class="login-form">
        <form>
          <h1>Login</h1>
          <div class="content">
            <div class="input-field">
              <input type="email" placeholder="Username" autocomplete="nope" required>
            </div>
            <div class="input-field">
              <input type="password" placeholder="Password" autocomplete="new-password">
            </div>
              </div>
          <div class="action">
        
            <button>Sign in</button>
          </div>
        </form>
      </div>
   
     <Footer></Footer>

@code {

}
