
<head>

    <link rel="stylesheet" href="/NewCss/Style.css">

</head>

      <footer class="footer">
        <section class="footerSection">
          <h1>About</h1>
          <p>Movie Reviews is an online database of information related to films, television series, podcasts, home videos, video games, and streaming content online – including cast, production crew and personal biographies, plot summaries, trivia, ratings, and fan and critical reviews.</p>
        </section>
        <section class="footerSection">
          <h1>Pages</h1>
          <ul>
            <li>
              <a href="">Home Page</a>
            </li>
            <li>
              <a href="">Admin Page</a>
            </li>
            <li>
              <a href="">New Movies</a>
            </li>
          </ul>  
        </section>
        <section class="footerSection">
          <h1>Developers</h1>
          <ul>
            <li>
              <p>HASSAN</p>
            </li>
            <li>
              <p>Ayeza</p>
            </li>
          </ul>  
        </section>
        <section class="footerSection">
          <h1>Contact</h1>
          <ul>
            <li>
              <a href="">Qalb E Momin</a>
            </li>
            <li>
              <a href="">hassan.ashfaq82</a>
            </li>
          </ul>  
        </section>
      </footer>
@code {

}
