@page "/"


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/NewCss/Style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Reviews</title>
</head>
    <NavBar></NavBar>
    <div class="hero">
        <div class="newMovie">
            <img src="/Assets/download.jpg" alt="">
        </div>
        <div class="newmovieinfo">
            <h1>Jhon wick 4</h1>
            <p>With the price on his head ever increasing, legendary hit man John Wick takes his fight against the High Table global as he seeks out the most powerful players in the underworld, from New York to Paris to Japan to Berlin.</p>
            <p>Ratings : 8.1/10</p>
            <button type="submit">See More</button>
        </div>
    </div>

      <div class="container">
        <div class="grid-container">
            <div class="grid-item">
              <img src="/Assets/download.jpg" alt="Image 1">
             <a href=""><h3>Jhon wick 4</h3></a>
             <p>Rating : 7.8</p>
            </div>
            <div class="grid-item">
              <img src="/Assets/download.jpg" alt="Image 1">
             <a href=""><h3>Jhon wick 4</h3></a>
             <p>Rating : 7.8</p>
            </div>
            <div class="grid-item">
              <img src="/Assets/download.jpg" alt="Image 2">
              <a href=""><h3>Jhon wick 4</h3></a>
              <p>Rating : 7.8</p>
            </div>
            <div class="grid-item">
              <img src="/Assets/download.jpg" alt="Image 3">
              <a href=""><h3>Jhon wick 4</h3></a>
              <p>Rating : 7.8</p>
            </div>
            <div class="grid-item">
              <img src="/Assets/download.jpg" alt="Image 4">
                <a href=""><h3>Jhon wick 4</h3></a>
             <p>Rating : 7.8</p>
            </div>
          </div>
      </div>
     
     <Footer></Footer>
