
<head>
  <link rel="stylesheet" href="/NewCss/Style.css">
  
    <title>Movie Reviews</title>
</head>
<body>
        <header>
        <nav>
          <div class="logo">
            <a href=""><h1>Movie Reviews</h1></a>
          </div>
          <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
          </div>
       
        </nav>
      </header>

</body>
